@charset "ISO-8859-1";

.formTitle
{
	color : red;
	font-weight: bold;
	padding-left: 15px;
	margin-top:-26px;
	background-color:white;
}

#personal
{
	width : 30%;
}

#bd
{
	width: 15%;
}

#sex
{
	width: 8%;
}

.formBloc
{
	border: red solid 1px;
	padding: 15px;
	margin:10px;
	width:40%;
	min-height: 26px;
	height: auto;
}

.rectangle
{
	background-color: #FFF3F3;
	border: red solid 1px;
	border-radius: 5px;
	position: absolute;
	left: 25%;
	width: 15%;
}

.rectangle:focus{
	background-color:white;
}

.formText
{
	width:90%;
	display: flex;
	padding-left:10%;
	margin-top:5px;
	align-content:flex-start;
}

#submit
{
	background-color: #FFF3F3;
	border-radius: 5px;
	box-shadow: 1px 1px;
	border:red solid 1px;
	margin-left:10px;
}

.description
{
	position:absolute;
	right: 83%;
}

#female, #male
{
	position:absolute;
	right:66.5%;
}